#nofication{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;
}
#nofication .nofi-container{
    width: 900px;
    height: 400px;
    background:#BAA89B;
    opacity: 0.96;
    overflow-y:scroll;
    position: relative;
   animation: Bell ease 0.2s;
}

#nofication .nofi-container .profiles{
    padding: 10px;
}

#nofication .nofi-container .profiles .image{
    width: 10%;
}
#nofication .nofi-container .profiles img{
    width: 100%;
    border-radius: 50%;
  
}
#nofication .nofi-container .profiles .ten{
    font-weight:900;
}
#nofication .nofi-container .profiles .noidung{
    font-style: italic;
    margin: auto 2px;
}
#nofication .nofi-container .profiles .follow{
    margin: auto 0;
}
.profiles p{
    color: black
}
.profiles{
    margin: 10px 25px;
    background-color: #AB9383;
    border-radius: 10px;
}
#nofication .nofi-container .profiles .name{
    padding: 20px;
    margin: auto 0;
}

#nofication .nofi-container .profiles input{
    background-color: #D9B08C;
    color: black;
    font-weight: 900;
    border: none;
   padding: 10px;
   border-radius: 5px;
}
#nofication .nofi-container .profiles .thoigian{
    color:#D9B08C
}
#nofication .title{
    font-weight: 900;
    padding: 20px;
    color: #000;
    background-color: #FFF6E8;
    font-family: 'Edu TAS Beginner', cursive;
    border-radius:10px;
    margin: 10px;
}
#nofication .title h1{
    font-size: 30px;
    display: inline-block;
}

#nofication .nofi-container .buttons input{
    background-color:#D9B08C ;
    color: black;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 900;
}
#nofication .nofi-container .icon-nofi{
    font-size: 30px;
    padding-right: 5px;
}
.open{
    display: flex !important ;
}
#nofication .close{
    cursor: pointer;
    opacity: 0.7;
}
#nofication .close :hover{
    opacity: 1;
}

@keyframes Bell {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px){
    #nofication {
        position: static;
        display: none;
    }
    #nofication .nofi-container{
        overflow-y: visible;
        min-height: 700px;
    }
    #nofication .nofi-container .profiles .image{
        width: 25%;
       
    }
    #nofication .nofi-container .profiles .name{
        padding: 0;
        text-align: center;
    }
    #nofication .close{
        display: none;
    }
    .open{
        display: flex;
    }
   
}
